// Scss Document

@charset "utf-8";
/* CSS Document */

/*organizacion*/
*{
  margin: 0;
  padding: 0;
}

/*estilos de textos*/


.style1{
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	color: antiquewhite;
	text-align: left;
	font-size: 14px;
	font-weight: bold;
	
}

.style2{
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	color: antiquewhite;
	font-size: 14px;
	font-weight: bold;
	display: inline-block;
  	text-align: left;
	
}
.style3{
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-weight: bold;
	text-align: center;
	color: darkslategrey;
}

.style4{
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-weight: bold;
	text-align: center;
	color: black;
}

.style5{
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-weight: bold;
	text-align: center;
	color: black;
}


/*css del navbar*/
.navbar-nav .nav-link{
	color: antiquewhite;
	font-weight: bold;
}

.navbar .nav-link:hover{
	text-decoration: underline;
	text-decoration-color: antiquewhite;
}


/* responsive del navbar para telefono */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}



/*css de los dervicios*/
.servicios .box-servicios{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	flex-direction: row;
	
}

.servicios{
	width: 300px;
	height: auto;
	border: 3px black solid;
	margin: 30px;
	
}
	
.servicios .box-servicios img{
	width: 200px;
}
/*css del footer*/

.footers{
	background-color: darksalmon;	
}

.espacio{
	background-color: white;
	width: 100%;
	height: 10px;
}

 #map {
            height: 400px;
            width: 100%;
        }